.card-show-booking {
  overflow: hidden;
  height: 850px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100vh;
}

.body-show-animal h2 {
  margin-left: 100px;
}
