.card-show-booking {
  overflow: hidden;
  height: 850px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100vh;
}

.body-show-animal h2 {
  margin-left: 100px;
}

.card-description-show-booking {
  height: 100%;
  width: 30%;
  object-fit: cover;
  text-align: center;
  border : 1px solid #E4E4E4;
  align-items: center;
  padding-top: 20px;
  margin-right: 200px;
}

#show-search-from {
  border : 1px solid #E4E4E4;
  width: 30vh;
  height: 450px;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.title-show-animal {
  margin-left: 100px;
  padding-top: 30px;
  border-bottom: 1px solid #E4E4E4;
}

.booking-messages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


