<h1>Your booking with <%= Animal.find(@booking.animal).name %></h1>

<p>Starting date : <%= @booking.starting_date %></p>
<p>Ending date : <%= @booking.ending_date %></p>
<p>Total Price : <%= @booking.total_price %></p>
