<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/2194261/pexels-photo-2194261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <%= render 'shared/navbar_home' %>
  <%= render 'shared/flashes' %>


  <div class="search-form">
    <form>
      <h1>Rent amazing animals and change your life</h1>
      <div class="form-group form-check">
        <label for="Animal">Specie</label>
        <input type="select" class="form-control" id="Animal" aria-describedby="Specie" placeholder="Dog">
      </div>
      <div class="form-group">
        <label for="Where">Location</label>
        <input type="email" class="form-control" id="Where" aria-describedby="Location" placeholder="Anywhere">
      </div>
      <div class="dates-inputs form-row">
        <div class="form-group">
          <label for="check-in">Check-in</label>
          <input type="date" class="form-control" id="check-in" placeholder="dd-mm-yyyy">
        </div>
        <div class="form-group">
          <label for="check-out">Check-out</label>
          <input type="date" class="form-control" id="check-out" placeholder="dd-mm-yyyy">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>

<div class="animal_suggestions">
  <h1>Our best puppies</h1>
</div>
