<h1>Trouvez votre nouveau compagnon !</h1>
<br>
<% @animals.each do |animal| %>
  <%= link_to animal.name, animal_path(animal) %>
  <%= animal.specie %>
  <%= animal.location %>
  <%= cl_image_tag animal.photo.key, height: 300, width: 300, crop: :fill %>
<% end %>
