.banner {
  background-size: cover;
  background-position: center;
  height: 700px;
  overflow:hidden;
  position: relative;

}

.banner-animal-show {
  background-size: cover;
  background-position: center;
  height: 350px;
}


