.navbar-noa {
  justify-content: space-between;
  background: white;
}
.navbar-home {
   background: transparent;
}
.navbar-noa .navbar-collapse {
  flex-grow: 0;
}

.navbar-noa .navbar-brand img {
  width: 40px;
}

.nav-link  {
  color: white !important;

  &:hover{
    opacity:0.5;
  }
}

