.navbar-noa {
  justify-content: space-between;
  background: white;
}

.navbar-home {
   background: transparent;
   .nav-link  {
     color: white !important;

     &:hover{
       opacity:0.5;
     }
  }
}
.navbar-noa .navbar-collapse {
  flex-grow: 0;
}

.navbar-noa .navbar-brand img {
  width: 40px;
}

.nav-link  {
  color: white;

  &:hover{
    opacity:0.5;
  }
}

