.navbar-noa {
  justify-content: space-between;
  background: white;
  color: black !important;

}

.login{
  padding: 0;
  border: none;
  background: none;
  color: #5D5D5D;
  margin-top: 8px;
  margin-left:5px;
  &:hover{
    opacity:0.5;
  }
}

.navbar-home {
   background: transparent;
   width: 100%;
   .login{
    color:white;
   }
   .nav-link  {
     color: white !important;

     &:hover{
       opacity:0.5;
     }
  }
}
.navbar-noa .navbar-collapse {
  flex-grow: 0;
}

.navbar-noa .navbar-brand img {
  width: 60px;
  border-radius: 4px;
}

.nav-link  {

  &:hover{
    opacity:0.5;
  }
}

.navbar-noa{
  border-bottom: thin solid $light-gray;
}
