.search-form {
  display: flex;
  padding: 32px;
  margin: 32px;
  background-color: white;
  width: 500px;
  // height: 500px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px;
  // justify-content: flex-start;
  // align-items: center;
}

.search-form h1 {
  font-size: 24px;
  color: #364f6b;;
  font-weight: bold;
}

.background-carousel{
  position:relative;
  z-index: -1;
}

.search-form-home {
  display: flex;
  padding: 32px;
  margin: 32px;
  background-color: white;
  width: 500px;
  // height: 500px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px;
  flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
  position:absolute;
  left: 40px;
  bottom: -25px;
}

.navbar-home{
  position:absolute;
  top: 0px;
  right:0px;
    z-index: 1;
 }


.search-form-home h1 {
  font-size: 24px;
  color: #364f6b;;
  font-weight: bold;
}


.dates-inputs {
  display: flex;
  justify-content: space-between;
}


.form-group label {
  font-size: 14px;
  padding: 5px;
  color: #364f6b;
}

.form-control {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

.form-date {
  width: 45%;
}
