.card-show {
  overflow: hidden;
  height: 450px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.body-show-animal h2 {
  margin-left: 100px;
}

.card-description-show {
  height: 100%;
  width: 300px;
  object-fit: cover;
  text-align: center;
  border : 1px solid #E4E4E4;
  align-items: center;
  padding-top: 20px;
  margin-right: 200px;
}

#show-search-from {
  border : 1px solid #E4E4E4;
  height: 450px;
  align-items: center;
  flex-direction: column;
}

.title-show-animal {
  margin-left: 100px;
  padding-top: 30px;
  border-bottom: 1px solid #E4E4E4;
}

.body-show-animal {
  background: white;
}
