.card-show {
  display: flex;
  margin: 0px auto;
  overflow: hidden;
  height: 500px;
  background: white;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.body-show-animal h2 {
  margin-left: 100px;
}

.description-map {
  height: 650px;
  object-fit: cover;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  flex: grow;
  background-color: #F4F4F4;
  box-shadow: 12px 12px 2px 1px rgba(253, 16, 21, .2);
}

.card-description-show p {
  text-align: center;
  padding: 15px;
}

#show-search-form {
  border : 1px solid #E4E4E4;
  // width: 250px;
  // height: 350px;
  position: sticky;
  // top: 0;
  align-items: center;
  flex-direction: column;
  // padding: 30px;
  // margin-right: 30px;
}

.title-show-animal {
  // margin-left: 100px;
  padding-top: 30px;
  border-bottom: 1px solid #E4E4E4;
}

.body-show-animal {
  background: white;
}

