.card-show {
  display: flex;
  margin: 0px auto;
  overflow: hidden;
  height: 500px;
  background: white;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.body-show-animal h2 {
  margin-left: 100px;
}

.description-map {
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px;
  // height: 650px;
  // width:750px;
  text-align: left;
  align-items: center;
  margin-top: 20px;
  flex: grow;
}

.card-description-show p {
  text-align: center;
  padding: 15px;
}

.search-form {
  border : 1px solid #E4E4E4;
  position: sticky;
  top: 0;
  align-items: center;
  flex-direction: column;
}

.title-show-animal {
  vertical-align:bottom;
  width:50%;
  height:100%;
  position:relative;
  .text{
    position: absolute;
    bottom: 0;
    margin-bottom:20px;
    margin-left:90px;
  }
  h1, p{
    opacity: 0.8;
    text-align: left;
    color: white;
  }
}

.banner-animal-show{
  vertical-align: bottom;
}

.body-show-animal {
  background: white;
}

.card-body {
  text-align: center;
  width:100px;
}

.card{
  width:150px;
  height:80px;
}

.address-title{
  margin-top:30px;
  margin-bottom:30px;
}

.card-description-show{
  p{
    margin-top:20px;
    text-align: left;
    color: grey;
  }
}

#logo-owner-edit{
  margin-bottom:10px;
  cursor: pointer;
  &:hover{
    opacity:0.5;
  }
}

#logo-owner-delete{
  margin-bottom:10px;
  cursor: pointer;
  &:hover{
    opacity:0.5;
  }
}

.logo-owner {
  text-align:right;
}
